input[type="button"] {
    transition: all .3s;
    border: 1px solid #ddd;
    padding: 4px 8px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 13px;
}

input[type="button"]:not(.activered) {
    background-color:transparent;
}
input[type="button"]:hover:not(.activered) {
    background-color: #ddd;
}
.activered{
	background-color: #ff4d4d;
}
